---
title: An Example PUG post.
tags: hey there every/body else/out/there
---

block teaser
  div This will show in both summary and page.

block contents
  div Ok then.  This post
  div is looking
  div OK!!
