---
title: Inkscape Help
tags: inkscape
---

block contents
  p Can use multi-image Inkscape SVGs by saving as #[span.code *.multi.svg].  Such files will automatically be split by layer.  For example, the included #[span.code inkscape-test.multi.svg] is automatically split into two blocks:
    img(src="inkscape-test/HI BLOCK.png")
    img(src="inkscape-test/Layer 3.png")

