---
title: Sane Tagging System in Metalsmith
tags: metalsmith blog
---

block content
  p Worked on Metalsmith tagging plugin.

  ul
    li Now have extensible date system.
    li Tag pathing is saner and more configurable via indexConfig.ts.
    li TODO:

      ul
        li Word cloud search
        li Tag search
        li Default style
        li Teaser block support

