body {
  background-color: #b8bcbc;
  font-family: sans-serif;
  font-size: 12pt;
  line-height: 1.2;

  p + p {
    margin-top: 1em;
  }

  img {
    max-width: 98%;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8em;
    z-index: -1;
    background-color: #78b;
  }
  > .post {
    margin-top: 1em;
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;

    background: #fff;
    border: solid 2px #444;
    border-radius: 0.4em;
    padding: 1.5em;

    > .title {
      font-size: 1.5em;
      background-color: #eee;
      border-radius: 0 1em 1em 0;
      margin-bottom: 0.5em;
      padding: 0.5em 0;
      padding-left: 0.5em;

      .date {
        font-size: 0.5em;
      }
    }
  }

  //Parent / child tags
  div.childTags {
    background-color: #fed;
    margin: 0.5em 0;
    &:first-child {
      margin-top: 0em !important;
    }
    &:before {
      content: '=>';
      font-size: 1.5em;
      font-weight: bold;
      margin-right: -0.5em;
    }
    > a {
      display: inline-block;
      padding: 0.25em;
      margin-left: 1em;
      color: #000;
    }
  }
  div.parentTags {
    @extend div.childTags;
    &:before {
      content: '<=' !important;
    }
  }

  //List of attachments
  div.attachments {
    background-color: #efd;
    margin: 0.5em 0;
    &:first-child {
      margin-top: 0em !important;
    }
    &:before {
      content: './';
      font-size: 1.5em;
      font-weight: bold;
      margin-right: -0.5em;
    }
    > a {
      display: inline-block;
      padding: 0.25em;
      margin-left: 1em;
      color: #000;
    }
  }
  //List of attached to
  div.attachedTo {
    @extend div.attachments;
    &:before {
      content: '../' !important;
    }
  }

  //List of posts
  div.postList {
    > div {
      .title { display: inline-block; margin-right: 1.5em; }
    }
    > div.group {
      border-top: solid 1px #aaa;
      font-size: 0.8em;
      padding-left: 0.5em;
      background-color: #eee;
      margin-top: 1em;
      &:first-child { margin-top: 0 !important; }
    }
  }
  //List of tags either at end of a post or off to the side of it.
  .tagList {
    @extend div.childTags;
    font-size: 0.8em !important;
    &:before { font-size: 1.2em !important; }
  }

  /** Generic bullets */
  ol, dl, ul {
    display: block;
    text-align: left;
    margin: 0 0 1.1em 1em; }

  ol {
    list-style-type: decimal; }
  ol.loweralpha {
    list-style-type: lower-alpha; }

  ul {
    list-style-type: none;
    > li {
      //In-line markers that support multiple children.
      margin-left: 2em;
      position: relative; }
    > li:before {
      font-size: 80%;
      display: inline-block;
      position: absolute;
      left: -2em;
    }
  }

  // Unicode from https://www.w3schools.com/charsets/ref_utf_geometric.asp
  ul:not(.columns-list) {
    > li:before { content: "\25b6" } }
  ul:not(.columns-list) ul {
    > li:before { content: "\25a2" } }
  ul:not(.columns-list) ul ul {
    font-size: 0.9em;
    > li:before { content: "\25b2" } }

  ul:not(.columns-list) ul, ul:not(.columns-list) ol,
  ol:not(.columns-list) ol, ol:not(.columns-list) ul {
    display: block;
    margin-left: 1.25em;
    margin-top: 0.5em; }

  ul:not(.columns-list) {
    margin-bottom: 0.5em; }
}

