---
title: Attachments Demonstration
tags: blog-help metalsmith attachments
---

block content
  p Attachments may be inserted simply by dropping a file in a folder.  That's it.
  p Currently there is no way of tagging attachments, but it would be easy enough to add with Metalsmith.
  p Posts (any .pug file) may be tagged as much as desired though.

