doctype html
html(lang="en")
  head
    script(src="http://localhost:35729/livereload.js")
    link(rel="stylesheet", href="/reset.css")
    link(rel="stylesheet", href="/styleDefault.css")
    block template-title
      title #{sitename}
  body
    block template-background
      .background
    block template-body

