doctype html
html(lang="en")
  head
    title #{sitename}
  body
    if date !== undefined
      div Posted #{date}.
    each tag in tags
      if tag.name !== '_all'
        div Tagged #{tagsRootPath[tag.name]}.
    each att in attachments || []
      div Attached #{att}
    block template
    block teaser
    block contents

