---
title: TODO Next on Metalsmith
tags: blog metalsmith
---

block contents
  p Working on Metalsmith blog format

  ul
    li Need mechanism for dealing with fixed-dates (work log) vs fluid-dates (wiki-style).  Need a way of combining both FS dates and modified dates (date field).
    li Word cloud search
    li Tag search
    li Method of creating a tag "homepage".  Including title.
